@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


   .mesbaha{
    display: flex;
    flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   position: relative;
   top: 200px;
   }
.box{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    background-color: fuchsia;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 0px  gray  ;
  
}
.box button{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    font-family: "Cairo", sans-serif;
}
